/* giving the body a dark background to better see the bright colored boxes */
body {background: rgb(240, 240, 240);}
.navbar-brand {background: rgb(9, 147, 233);}
.btn {background: white}

        /* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
  @media (max-width: 1200px) {
        nav {background: rgb(9, 147, 233);}
        .nav {background: rgb(9, 147, 233);}
        .navbar {background: rgb(9, 147, 233);}
        .collapse {background: rgb(9, 147, 233);}
/*        .navbar navbar-expand-lg navbar-light bg-light {background: rgb(9, 147, 233);}*/
        .navbar-toggler {background: rgb(9, 147, 233);}
    }